.faq {
  &-container {
    background-image: linear-gradient(241.67deg, rgba(164, 92, 255, 0.06) 9.29%, rgba(60, 12, 255, 0.06) 85.94%);

    &.bg-image-none {
      background-image: none;
    }

    &__dropdown {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: -0.01em;
      color: rgba(0, 0, 0, 0.6);

      a {
        color: rgba(164, 92, 255, 1);
      }

      b {
        font-weight: bold;
        color: #000000;
      }

      p {
        margin-top: 8px;
      }
    }

    &__btn {
      margin: auto;
      margin-top: 40px;
      height: auto;
      padding: 12px 24px;
    }
  }

  &__wrapper {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 96px;
    flex: 1;

    @media only screen and (max-width: 1024px) {
      width: 75%;
    }

    @media only screen and (max-width: 768px) {
      margin-right: 70px;
    }

    @media only screen and (max-width: 900px) {
      margin-bottom: 70px;
      margin-right: 70px;
    }

    @media only screen and (max-width: 600px) {
      padding-bottom: 0;
      margin-right: 20px;
      width: 90%;
    }


    // @media only screen and (min-width: 900px) {
    //   padding-right: 100px;
    // }

    .content {
      margin: 0 auto;

      @media only screen and (max-width: 992px) {
        width: 85%;
      }

      // @media only screen and (max-width: 768px) {
      //   width: 100%;
      // }

      @media only screen and (max-width: 600px) {
        width: 100%;
        margin-right: 70px;
      }

      .dropdown-container__title {
        font-family: "Neurial Grotesk medium";
      }
    }

    .header-content {
      font-size: 64px;

      text-align: center;

      margin-block-end: 64px;

      @media only screen and (max-width: 1366px) {
        font-size: 60px;
      }

      @media only screen and (max-width: 1024px) {
        font-size: 50px;
      }

      @media only screen and (max-width: 992px) {
        font-size: 48px;
      }

      @media only screen and (max-width: 768px) {
        text-align: left;
      }

      @media only screen and (max-width: 600px) {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 0;
      }
    }
  }
}