.footer {
  @apply bg_mode text_mode;

  &__up {
    @apply flex justify-between py-6;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 350px;

    &.--phone {
      font-size: 32px;
    }

    &.--content {
      display: flex;
      gap: 8px;
      margin-bottom: 8px;
    }

    @media only screen and (max-width: 900px) {
      max-width: 100%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    row-gap: 55px;

    &.--icon {
      display: flex;
      flex-direction: row;
      column-gap: 18px;
      justify-content: flex-end;

      @media only screen and (max-width: 900px) {
        justify-content: flex-start;
        padding-top: 42px;
      }
    }

    &__group {
      font-size: 18px;
      display: flex;
      justify-content: flex-start;
      column-gap: 128px;

      &.--category {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        h5 {
          font-size: 28px;
          margin-bottom: 16px; 
        }

        p {
          color: rgba(255, 255, 255, 0.8);
        }
      }  
    }
  }

  &__logo {
    margin-bottom: 40px;
  }

  &__down {
    @apply flex justify-between py-8 border-t border-white;

    &__left {
      display: flex;
      gap: 16px;
      align-items: center; 
    }
 
  } 
}