.core_table {
  border: 1px solid $color-main;
  @apply rounded-lg overflow-hidden w-full;

  &--auto {
    @apply table-auto;
  }

 

  &--fixed {
    @apply table-fixed;
  }
    @apply w-full table-fixed;

    th,
    td {
      @apply p-4 text-black align-top;
      @apply text_mode;

      &.border-right {
        @apply border-r border-solid;
        border-color:  rgba(255, 255, 255, 0.1);
      }
    }

    tr {
      &:not(:last-child) {
        @apply border-b border-solid;
        border-color:  rgba(255, 255, 255, 0.1);

      }

      &.not_target {
        &:hover {
        background-color: transparent;
        }
      }

      &:hover {
        background-color: $primary-color-hover;
      }
    }

    th {
      @apply py-4 text-white;
    } 
}

.is_dark {

  .core_table {

    table {

      th,
      td {
        @apply text-white;
      }

      tr {
        &:hover {

          th,
          td {
            @apply text-black;
          }
        }
      }
    }
  }
}