.faq-page {
  .contact-us__container .contact-us__container__form__title {
    margin-bottom: 24px;
  }
  &__questions {
    flex: 1;
    padding-right: 100px;

    &__header {
      margin-bottom: 44px;
    }

    &__container {
      max-width: 982px;
      margin: auto;
      padding-top: 40px;
      .input-container  {
        @media screen and (max-width: 768px) {
          input {
            padding: 12px 32px;
          }
          .input-suffix {
            top: 16px;
          } 
        }
      }
    }

    &__hint {
      opacity: 60%;
      margin-top: 24px;
      line-height: 28px;
      font-size: 20px;
      letter-spacing: -0.01em;
    }

    @media only screen and (max-width: 900px) {
      padding: 20px;
    }
  }

  .faq__wrapper {
    .content {
      max-width: 982px;
      .dropdown-container {
        font-family: "Neurial Grotesk medium";
      }
    }
  }
}
